@model IEnumerable<Obligatorio_MVC.Models.ModelParaBusquedaCapacidad>

@{
    ViewData["Title"] = "ViewParaBusquedaCapacidad";
    Layout = "ListaBusquedaPorNombreDelTipo";
}

<h1>ViewParaBusquedaCapacidad</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.min)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.max)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.min)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.max)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
